.calendar-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.calendar-date-time {
  font-size: 20px;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.calendar-link {
  display: contents;
}
.calendar-image {
  width: 1074px;
  height: 548px;
  margin: var(--dl-space-space-twounits);
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
