.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-500);
}
.register-navlink {
  top: var(--dl-space-space-sixunits);
  color: #ff0000;
  right: var(--dl-space-space-sixunits);
  z-index: 100;
  position: absolute;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.register-form {
  width: 500px;
  height: 574px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  border-radius: 12px;
  animation-name: none;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.register-text {
  color: var(--dl-color-custom-primary1);
  height: 78px;
  align-self: stretch;
  text-align: center;
  line-height: 2;
}
.register-textinput {
  width: 436px;
  height: 64px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-textinput1 {
  width: 438px;
  height: 64px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.register-select {
  height: 63px;
  z-index: 100;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-login {
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  margin-top: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-custom-primary1);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary1);
}
@media(max-width: 991px) {
  .register-select {
    width: 420px;
  }
}
@media(max-width: 767px) {
  .register-form {
    width: 483px;
    height: 635px;
  }
  .register-select {
    height: 53px;
  }
}
@media(max-width: 479px) {
  .register-form {
    width: 306px;
    height: 609px;
  }
  .register-textinput {
    flex: 0;
    width: auto;
    height: auto;
  }
  .register-textinput1 {
    flex: 0;
    width: auto;
    height: auto;
  }
  .register-select {
    flex: .1;
    width: 243px;
    height: 0px;
    padding: var(--dl-space-space-oneandhalfunits);
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .register-login {
    color: var(--dl-color-gray-white);
    margin: var(--dl-space-space-unit);
    align-self: center;
    background-color: var(--dl-color-custom-primary1);
  }
}
